<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/icon.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write your chat</title>
    <link rel="stylesheet" href="/Add.css">
</head>
<body>
    <div class="Main">
    <h3>Write your chat..!</h3>
    <form method="POST" action="/chats">

        <input  name="from" placeholder="enter name of sender">
        <br><br>
        <textarea name="msg" placeholder="enter your message"></textarea>
        <br><br>
        <input  name="to" placeholder="enter reciver name">
        <br><br>
        <button>submit chat</button>



    </form>
</div>
</body>
</html>